@import '../../../scss/constants';

body {
  overflow: scroll;
}
:host {
  display: flex;
  flex: 1 1 0;
  background-color: #fff;
  color: #000;

  .register-section {
    height: 100vh;
    width: 100%;
    display: flex;
    @media #{$mat-lt-md} {
      height: auto;
      display: block;
      overflow-x: auto;
    }

    &__left {
      width: 50%;
      background: url('./../../../assets/register-bg.jpg');
      background-repeat: no-repeat;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;

      @media #{$mat-lt-md} {
        height: auto;
        width: 100%;
      }

      img {
        width: 340px;
        @media #{$mat-lt-md} {
          width: 200px;
        }
      }
    }
    &__right {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      overflow-x: auto;
      @media #{$mat-lt-md} {
        height: auto;
        width: 100%;
        overflow-x: hidden;
      }
      &__inner {
        width: 100%;
        padding: 80px;
        @media #{$mat-lt-lg} {
          padding: 10px 40px;
        }
        @media #{$mat-lt-md} {
          padding: 10px 20px;
        }
      }
      h3 {
        font-size: 40px;
        @media #{$mat-lt-lg} {
          font-size: 30px;
        }
        @media #{$mat-lt-sm} {
          font-size: 25px;
        }
      }
      p {
        font-size: 21px;
        @media #{$mat-lt-lg} {
          font-size: 18px;
        }
        @media #{$mat-lt-sm} {
          font-size: 16px;
        }
      }
    }
  }
  .form-block {
    width: 100%;
    margin-top: 30px;
    @media #{$mat-lt-md} {
      margin-top: 15px;
    }
  }
  .btn-register {
    background-color: #e4edf5;
    font-size: 21px;
    color: #192129;
    padding: 15px 70px;
    box-shadow: none !important;
    border-radius: 0;
    @media #{$mat-lt-sm} {
      margin-top: 15px;
    }
  }
  a {
    text-decoration: none;
    border: none;
  }
  .mt {
    margin-top: 50px;
    @media #{$mat-lt-md} {
      margin-top: 20px;
    }
    @media #{$mat-lt-sm} {
      margin-top: 5px;
    }
  }
}
